html, body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Lato", Calibri, sans-serif;
  font-size: 16px;
  background-color: #ffffff; }
  html h1, body h1 {
    margin-top: 10px; }
  html h2, body h2 {
    font-size: 1.3em; }
  html h3, body h3 {
    font-size: 1.1em; }
  html a, body a {
    text-decoration: none;
    color: #333333;
    font-weight: 700; }
    html a:hover, body a:hover {
      text-decoration: underline; }
  html hr, body hr {
    border: 0;
    height: 1px;
    background-color: #333;
    background-image: linear-gradient(to right, #333333, #ccc); }
  html .clearfix, body .clearfix {
    clear: both; }


    
    div.stats {
      height: 80%;
      width: 40%;
      margin: 13vmin auto 0;
      box-sizing: border-box;
      padding: 20px 30px;
      background-color: #F1F1FF;
      color: #3A3042;
      border-radius: 3px;
      box-shadow: 1px 1px 3px #232621;
      position: absolute; /* add this property */
      right: 0; /* add this property */
      top: 0; /* add this property */
    }
div.stats {
  margin: 50px auto !important; }
  div.stats #player1 {
    text-align: center;
    display: inline-block;
    width: 50%;
    float: left;
    background-color: #005d9b;
    box-sizing: border-box;
    padding: 0 15px 20px;
    border-top-left-radius: 3px;
    color: #232621; }
    div.stats #player1 .capturedPiece {
      width: 2.4vmin;
      height: 2.4vmin;
      background-color: #232621;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6vmin;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.2s linear;
      margin: 5px; }
  div.stats #player2 {
    text-align: center;
    display: inline-block;
    width: 50%;
    float: left;
    background-color: #232621;
    box-sizing: border-box;
    padding: 0 15px 20px;
    border-top-right-radius: 3px;
    color: #005d9b; }
    div.stats #player2 .capturedPiece {
      width: 2.4vmin;
      height: 2.4vmin;
      background-color: #005d9b;
      background-size: 65%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 6vmin;
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.2s linear;
      margin: 5px; }
  div.stats div.turn {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #BEEE62 50%, transparent 50%);
    border-radius: 0 0 3px 3px; }
  div.stats span#winner {
    display: block;
    padding: 10px 0 0;
    text-align: center; }
  
    

      div#board {
        position: absolute;
        top:1%;
        left: 0;
        width: 80vmin;
        height: 80vmin;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #212426;
        background-color: #ffffff;
        overflow: hidden;
        margin-left: -120%; /* add a margin to the left */
      }
  div#board .tile {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    background-color: #005d9b; }
  div#board .player1pieces .piece {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    background-color: #000000;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 1vmin;
    margin-left: 1vmin;
    cursor: pointer;
    border: 1vmin solid #ffffff; }
    div#board .player1pieces .piece.selected {
      box-shadow: 0 0 10px 5px #16A8C7; }
  div#board .player2pieces .piece {
    position: absolute;
    width: 8vmin;
    height: 8vmin;
    background-color: #F1F1FF;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6vmin;
    display: inline-block;
    box-sizing: border-box;
    transition: all 0.2s linear;
    margin-top: 1vmin;
    margin-left: 1vmin;
    cursor: pointer;
    border: 1vmin solid #000000; }
    div#board .player2pieces .piece.selected {
      box-shadow: 0 0 10px 5px #16A8C7; }
      

/*# sourceMappingURL=style.css.map */


.blueButton {
  box-shadow:0px 1px 0px 0px #4da2b9;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005d9b), color-stop(1, #6ca0c4));
  background:-moz-linear-gradient(top, #005d9b 5%, #6ca0c4 100%);
  background:-webkit-linear-gradient(top, #005d9b 5%, #6ca0c4 100%);
  background:-o-linear-gradient(top, #005d9b 5%, #6ca0c4 100%);
  background:-ms-linear-gradient(top, #005d9b 5%, #6ca0c4 100%);
  background:linear-gradient(to bottom, #005d9b 5%, #6ca0c4 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005d9b', endColorstr='#6ca0c4',GradientType=0);
  background-color:#005d9b;
  border-radius:6px;
  border:1px solid #005d9b;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Arial, sans-serif;
  font-size:15px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b9d6ea;
  width:80px;
}

.blueButton:hover{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6ca0c4), color-stop(1, #b3d2df));
  background:-moz-linear-gradient(top, #005d9b 5%, #b3d2df 100%);
  background:-webkit-linear-gradient(top, #005d9b 5%, #b3d2df 100%);
  background:-o-linear-gradient(top, #005d9b 5%, #b3d2df 100%);
  background:-ms-linear-gradient(top, #005d9b 5%, #b3d2df 100%);
  background:linear-gradient(to bottom, #005d9b 5%, #b3d2df 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ca0c4', endColorstr='#b3d2df',GradientType=0);
  background-color:#6ca0c4;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.blueButton:active {
  position:relative;
  top:1px;
}
